
$primary-color: #232323;
$dark-color: #454545;

@import "./normalize.scss";
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";


.container{
    margin: 10px 10px;
    box-sizing: border-box;
    width: inherit;
}

.app, body{
    box-sizing: border-box;
    line-height: auto;
}

body{
    width: 100%;
    height: 100%;
    overflow: none;
}

.card{
    box-shadow: 0 .25rem 1rem rgba(48,55,66,.3);
    border: none;
    border-radius: 0px;
    padding: 25px;
    background: #fff;
    margin-bottom: 20px;
    white-space: pre-wrap;
    transition: .3s all;;
}

.card .card-header, .card .card-body, .card .card-footer{
    padding: 0px;
    padding-top: 15px;
}

.card.title{
    margin-top: -80px;
}

.survey .card{
    text-align: center;
}

.btn{
    border-radius: 0px;
    border: none;
    margin: 10px;
    padding: 10px 15px;
    height: auto;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://i.loli.net/2020/01/27/pvuatxOzPml31VR.jpg');
    background-size: cover;
    z-index: -999;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -99;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-weight: 600;
    margin: 20px;
}

h5, h6, .h5, .h6{
    font-weight: 600;
}


.step{
    margin: 20px 0px;
}

.navbar{
    background: #232323;
    min-height: 70px;
    box-shadow: 0 .25rem 1rem rgba(48, 55, 66, .15);
    padding: 20px;
    padding-bottom: 80px;
}

.navbar a{
    color: #fff !important;
    cursor: pointer;
}

.sta{
    font-weight: 400;
}


.survey .btn {
    min-width: 40%;
}


.survey .card-footer{
    text-align: center;
}
